#main-container {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.main-about {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #f4a261;
    text-align: justify;
    line-height: 1.8;
    flex-direction: column;
    font-size: large;
    font-weight: 300;

}

#cc-grad {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #f4a261;
    margin: 50px;
}