#main-container {
    margin-left: 15vw;
    margin-right: 15vw;
    overflow-anchor: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-about, .main-about-skill-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #e76f51;
    text-align: justify;
    line-height: 1.8;
    flex-direction: column;
    font-size: large;
    font-weight: 300;
    padding-bottom: 3vh;
}

.main-about-skill-list {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10vh;
}

li {
    list-style-position: inside;
}

.cc-grad {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #00f5d4;
    text-decoration: none;
}

a:hover {
    color: #ff0054;
}
  
a:active {
    color: black;
}



  
