@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

#main-about {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #f4a261;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
    flex-direction: column;
}

#main-projects {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.links {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    color: #e76f51;
}

.profect-descr {
    margin: 50px;
    text-transform: none;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
}

.tech-stack {
    margin: 50px;
}

