@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

#main-projects {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
}

.link {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

.link-title {
    text-decoration: none;
    color: #e76f51;
}

.project-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: large;
    color: #e76f51;
    margin: 3%;
    height: auto;
    position:relative;

}

.project-descr {
    align-content: flex-start;
    text-transform: none;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
    height: 25%;
}

.tech-stack-title {
    margin-right: 50px;
    margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    color: #00f5d4;
}

.tech-stack {
    margin-right: 50px;
    margin-left: 50px;
    line-height: 1.7;
    color: #00f5d4;
}

.image1, .image2, .image3 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    border: 1px solid #000;
    height: 400px;
    width: 500px;
}

#travel {
    content: url('../images/travel.jpeg');
    height: 400px;
    width: 500px;
    transition: transform .2s;
}

#weather {
    content: url('../images/weather.jpeg');
    height: 400px;
    width: 500px;
    transition: transform .2s;
}

#baldur {
    content: url('../images/baldur.jpeg');
    height: 400px;
    width: 500px;
    transition: transform .2s;
}
#travel:hover, #weather:hover, #baldur:hover {
    transform: scale(1.2);
    height: 400px;
    width: 500px;
}