@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

#main-projects {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.link {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #e76f51;
    width: 100%;
}

.project-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: large;
    color: #e76f51;
    margin-top: 10px;
}

.project-descr {
    align-content: flex-start;
    text-transform: none;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
    margin: 50px;
    height: 25%;
}

.tech-stack-title {
    margin-right: 50px;
    margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    color: #00f5d4;


}

.tech-stack {
    margin-right: 50px;
    margin-left: 50px;
    line-height: 1.7;
    color: #00f5d4;
}

.image1, .image2, .image3 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

#travel {
    content: url('../images/travel.png');
    height: 400px;
    width: 500px;
}

#weather {
    content: url('../images/weather.png');
    height: 400px;
    width: 500px;
}

#baldur {
    content: url('../images/baldur.png');
    height: 400px;
    width: 500px;
}